@use "sass:map";
@import "/src/style/pages/theme.scss";
.header-top {
  background: whitesmoke;
}
.header-top-left {
  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 15px;
    column-gap: 20px;

    li {
      font-size: 14px;
      display: flex;
      align-items: center;
      column-gap: 2px;
    }
    li:first-child {
      position: relative;
      &:after {
        position: absolute;
        right: -10px;
        top: 1px;
        width: 2px;
        height: 20px;
        background: #000;
        opacity: 0.4;
        content: "";
      }
    }
  }
}
.header-top-right {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 10px 0 13px;

  ul {
    display: flex;
    column-gap: 15px;
    list-style: none;

    a {
      font-size: 14px;
      display: inline-block;
      color: map.get($theme-color, "normal-text");
    }
    li:last-child {
      cursor: pointer;
      margin-left: 10px;
      span {
        margin-left: 2px;
      }
    }
  }
}
.header-logo {
  padding: 15px 0;
}
.header-menu {
  padding: 24px 0;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      list-style: none;
      a {
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        transition: all 0.3;
        padding: 5px 0;
        display: block;
      }
    }
    .active a {
      color: map.get($theme-color, "main");
    }
  }
}
.header-cart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;

  ul {
    display: flex;

    margin-right: 25px;
    li {
      list-style: none;
      position: relative;

      svg {
        font-size: 25px;

        color: map.get($theme-color, "normal-text");
      }
      span {
        color: white;
        background: map.get($theme-color, "main");
        position: absolute;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        line-height: 17px;
        font-weight: 600;
        left: 20px;
        top: -2px;
      }
    }
  }
}
